# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# Virtual environments
env/
venv/

# Distribution / build
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Data, models, results
*.tar.gz
models/*
!models/.gitkeep
results/*
!results/.gitkeep
